*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
html,body{
	height: 100%;
}
body{
	font-family: "微软雅黑";
	font-size: 20px;
	background-color: #f5f5f5;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.item-box li{
	line-height: 60px;
	font-size: 14px;
	background-color: #fff;
	margin-top:2px;
	padding:0 10px;
	color: #494949;
}
.item-box li label{
	width: 80px;
	float: left;
	position: absolute;
}
.item-box li input,.item-box li p{
	box-sizing: border-box;
	width: 100%;
	padding:0 10px 0 100px;
}
.item-box li input{
	color: #333;
	border:none; 
	line-height: 30px;
	margin-top: 15px;
}
a.submit{
	display: block;
	text-align: center;
	margin: 30px auto;
	color: #fff;
	background-color: #c91622;
	line-height: 40px;
	width: 70%;
	border-radius: 20px;
}
/* 遮罩层 */
.mask{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,.2);
}
.mask-inner{
	position: absolute;
	top: 24%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	width: 60%;
	height:120px;
	border-radius: 20px; 
	color: #c91622;
	text-align: center;
}
.mask-inner img{
	margin: 16px 0 8px 0;
	width: 46px;
	height:46px;
}
/* 更换手机号页面 */
.phone{
	text-align: right;
	padding: 0 20px 0 100px;
}
/* 绑定手机号页面 */
.getCode{
	display: block;
	width: 96px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #c91622;
	border:2px solid #c91622;
	border-radius: 8px;
	margin-top: 9px;
	float: right;
	position: absolute;
	right: 20px;
}
.item-box li.code-item input{
	padding: 0 110px 0 100px;
}


/* 商户入驻页面 */
header{
	line-height: 56px;
}
header{
	text-align: center;
	color: #fff;
	background-color: #c91622;
}
.item-box.merchant-box li label{
	width: 120px;
}
.item-box.merchant-box li input,.item-box.merchant-box li p{
	padding:0 10px 0 140px;
}
.item-box.merchant-box li p{
	box-sizing: border-box;
	width: 100%;
}
.item-box li.selected-img{
	line-height: 90px;
}
.item-box li i{
	display: inline-block;
	vertical-align: top;
}
.item-box li label i{
	margin-top: 5px;
	height: 50px;
	width: 50px;
	background-image:url(../img/icon.png);
	background-repeat: no-repeat;
	transform: scale(0.7,0.7);
	-webkit-transform: scale(0.7,0.7);
}
.item-box li.selected-img label i{
	margin-top:20px;
}
.icon-pwd{
	background-position: -50px 0;
}
.icon-name{
	background-position: -100px 0;
}
.icon-tel{
	background-position: -150px 0;
}
.icon-add{
	background-position: -200px 0;
}
.icon-pic{
	background-position: -250px 0;
}
.icon-license{
	background-position: -300px 0;
}
.item-box li span i{
	margin:13px 0 0 30px;
	height: 33px;
	width: 38px;
	background:url(../img/file.png) no-repeat left top;
	transform: scale(0.7,0.7);
	-webkit-transform: scale(0.7,0.7);
}
.item-box li p{
	height: 60px;
	position: relative;
}
.item-box li.selected-img p{
	height: 90px;
}
.item-box li .file-upload{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.item-box li img{
	display: none;
}
.item-box li.selected-img span{
	display: none;
}
.item-box li.selected-img img{
	display: block;
	width: 120px;
	height: 60px;
	margin-left:30px;
	padding-top:15px;
}

/* 优惠券 */
.use-btn{
	font-size: 18px;
	margin:20px auto 30px;
	width: 200px;
	line-height: 40px;
	color: #949494;
	background-color: #d1cfcf;
	border-radius: 8px;
}
.use-btn .nouse-btn{
	border-radius:8px 0 0 8px;
}
.use-btn .used-btn{
	border-radius: 0 8px 8px 0;
}
.use-btn span{
	display: inline-block;
	width: 100px;
	text-align: center;
}
.use-btn span.active{
	color: #fff;
	background-color: #949494;
}
.coupon li{
	margin:20px auto;
	padding: 10px;
	height: 80px;
	width: 320px;
	background: url(../img/bg-red.png) no-repeat left top;
	background-size: 320px 80px;
}
.coupon li div{
	font-size: 0;
	border:1px solid #f5d0b9;
	border-radius: 8px;
	height: 60px;
	width: 300px;
}
.coupon li img,
.coupon li span{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	color: #fff;
}
.coupon li img{
	margin: 10px;
	width: 80px;
	height: 40px;
}
.coupon li span.info{
	width: 66px;
	padding:0 12px;
	border-left: 1px solid #f5d0b9;
	line-height: 26px;
}
.coupon li span.info p{
	font-size: 22px;
	font-weight: bold;
}
.coupon li span.info p{
	line-height: 34px;
}
.coupon li span.det{
	width: 99px;
	margin:10px 0;
	line-height: 20px;
	padding-right: 10px;
}
