*{
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
html,body{
	height: 100%;
}
body{
	font-family: "微软雅黑";
	font-size: 16px;
	background-color: #f5f5f5;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.item-box li{
	line-height: 60px;
	font-size: 14px;
	background-color: #fff;
	margin-top:2px;
	padding:0 10px;
	color: #494949;
}
.item-box li label{
	width: 80px;
	float: left;
	position: absolute;
}
.item-box li input,.item-box li p{
	box-sizing: border-box;
	width: 100%;
	padding:0 10px 0 100px;
}
.item-box li input{
	color: #333;
	border:none; 
	line-height: 30px;
	margin-top: 15px;
}
a.submit{
	display: block;
	text-align: center;
	margin: 30px auto;
	color: #fff;
	background-color: #c91622;
	line-height: 40px;
	width: 70%;
	border-radius: 20px;
}
/* 遮罩层 */
.mask{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,.2);
}
.mask-inner{
	position: absolute;
	top: 24%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	background-color: #fff;
	width: 60%;
	height:120px;
	border-radius: 20px; 
	color: #c91622;
	text-align: center;
}
.mask-inner img{
	margin: 16px 0 8px 0;
	width: 46px;
	height:46px;
}
/* 绑定联名卡 */
.item-box li.item-card label{
	width: 60px;
}
.item-box li.item-card input{
	padding-left: 60px;
}
/* 更换手机号页面 */
.phone{
	text-align: right;
	padding: 0 20px 0 100px;
}
/* 绑定手机号页面 */
.getCode{
	display: block;
	width: 96px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #c91622;
	border:2px solid #c91622;
	border-radius: 8px;
	margin-top: 9px;
	float: right;
	position: absolute;
	right: 20px;
}
.item-box li.code-item input{
	padding: 0 110px 0 100px;
}

/* 商户入驻页面 */
header{
	font-size: 20px;
	line-height: 56px;
	text-align: center;
	color: #fff;
	background-color: #c91622;
}
.item-box.merchant-box li label{
	width: 120px;
}
.item-box.merchant-box li input,.item-box.merchant-box li p{
	padding:0 10px 0 140px;
}
.item-box.merchant-box li p{
	box-sizing: border-box;
	width: 100%;
}
.item-box li.selected-img{
	line-height: 90px;
}
.item-box li i{
	display: inline-block;
	vertical-align: top;
}
.item-box li label i{
	margin-top: 5px;
	height: 50px;
	width: 50px;
	background-image:url(../img/icon.png);
	background-repeat: no-repeat;
	transform: scale(0.7,0.7);
	-webkit-transform: scale(0.7,0.7);
}
.item-box li.selected-img label i{
	margin-top:20px;
}
.icon-pwd{
	background-position: -50px 0;
}
.icon-name{
	background-position: -100px 0;
}
.icon-tel{
	background-position: -150px 0;
}
.icon-add{
	background-position: -200px 0;
}
.icon-pic{
	background-position: -250px 0;
}
.icon-license{
	background-position: -300px 0;
}
.item-box li span i{
	margin:13px 0 0 30px;
	height: 33px;
	width: 38px;
	background:url(../img/file.png) no-repeat left top;
	transform: scale(0.7,0.7);
	-webkit-transform: scale(0.7,0.7);
}
.item-box li p{
	height: 60px;
	position: relative;
}
.item-box li.selected-img p{
	height: 90px;
}
.item-box li .file-upload{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
.item-box li img{
	display: none;
}
.item-box li.selected-img span{
	display: none;
}
.item-box li.selected-img img{
	display: block;
	width: 120px;
	height: 60px;
	margin-left:30px;
	padding-top:15px;
}

/* 店铺 */
.shop li{
	margin: 20px 0;
	padding:10px 10px;
	height: 110px;
	border-top: 1px solid #e3e3e3;
	background-color: #fff;
}
.shop li img{
	float: left;
	width: 100px;
	height: 100px;
	margin-top: 5px;
	border-radius: 6px;
}
.shop li .info{
	box-sizing: border-box;
	width: 100%;
	padding-left: 110px;
	font-size: 14px;
	color: #8a8a8a;
}
.shop li .info h4,.shop li .info p{
	width: 100%;
	height: 22px;
	line-height: 22px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shop li .info h4{
	font-size: 18px;
	color: #131313;
}
.shop li .info .star{
	font-size: 12px;
	line-height: 18px;
	color: #ffba00;
}
.shop li .info .star i{
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/star.png) no-repeat top left;
}
.shop li .info .star i.star1{background-position:-12px 0}
.shop li .info .star i.star2{background-position:-24px 0}
.shop li .info .star i.star3{background-position:-36px 0}
.shop li .info .star i.star4{background-position:-48px 0}
.shop li .info .star i.star5{background-position:-60px 0}
.shop li .info .star i.star6{background-position:-72px 0}
.shop li .info .star i.star7{background-position:-84px 0}
.shop li .info .star i.star8{background-position:-96px 0}
.shop li .info .star i.star9{background-position:-108px 0}
.shop li .info .star i.star10{background-position:-120px 0}
.shop li .info i.quan{
	display: inline-block;
	vertical-align: top;
	margin-right: 4px;
	width: 22px;
	height: 22px;
	background: url(../img/quan.png) no-repeat top left;
}
.shop li .info i.add{
	display: inline-block;
	vertical-align: top;
	margin: 4px 2px 0 8px;
	width: 12px;
	height: 15px;
	background: url(../img/add.png) no-repeat top left;
}
/* 优惠券 */
.use-btn{
	font-size: 0px;
	width: 200px;
	margin:20px auto 30px;
}
.use-btn .nouse-btn{
	border-radius:8px 0 0 8px;
}
.use-btn .used-btn{
	border-radius: 0 8px 8px 0;
}
.use-btn span{
	cursor: pointer;
	font-size: 18px;
	display: inline-block;
	width: 48%;
	background-color: #d1cfcf;
	color: #949494;
	text-align: center;
	line-height: 40px;
}
.use-btn span.active{
	color: #fff;
	background-color: #949494;
}
.coupon li{
	box-sizing: border-box;
	margin:20px auto;
	padding: 10px;
	height: 80px;
	width: 320px;
	background: url(../img/bg-red.png) no-repeat left top;
	background-size: 320px 80px;
}
.coupon li div{
	font-size: 0;
	border:1px solid #f5d0b9;
	border-radius: 8px;
	height: 60px;
	width: 298px;
}
.coupon li img,
.coupon li span{
	-webkit-text-size-adjust:none;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	color: #fff;
}
.coupon li img{
	margin: 10px;
	width: 80px;
	height: 40px;
}
.coupon li span.info{
	width: 66px;
	padding:0 12px;
	border-left: 1px solid #f5d0b9;
	line-height: 26px;
}
.coupon li span.info p{
	font-size: 22px;
	font-weight: bold;
}
.coupon li span.info p{
	line-height: 34px;
}
.coupon li span.det{
	width: 97px;
	margin:10px 0;
	line-height: 20px;
	padding-right: 10px;
}
.coupon.hasused{
	display: none;
}
.coupon.hasused li.ysy{
	background-image: url(../img/bg-ysy.png);
}
.coupon.hasused li.ygq{
	background-image: url(../img/bg-ygq.png);
}
/* 优惠券详情页 */
.card{
	margin: 40px 0;
	filter: drop-shadow(5px 5px 27px rgba(0,0,0,.3));
	-webkit-filter: drop-shadow(5px 5px 27px rgba(0,0,0,.3));
}
.card-up,.card-down{
	margin: 0 auto;
	width: 300px;
	height: 240px;
	position: relative;
}
.card-up:before{
	content: "";
	display: block;
	height: 0;
	width: 300px;
	border-width: 240px 12px 0 12px;
	border-style: solid solid none;
    border-color: #fff transparent transparent ;
    transform: translateX(-6px);
    -webkit-transform: translateX(-6px);
    position: absolute;
    z-index: -1;
}
.card-down:before{
	content: "";
	display: block;
	height: 0;
	width: 300px;
	border-width: 0 12px 300px 12px;
	border-style: none solid solid;
    border-color: transparent transparent #fff;
    position: absolute;
    transform: translateX(-12px);
    -webkit-transform: translateX(-12px);
    z-index: -1;
}
.card-down{
	height: 300px;
	transform: translateX(6px);
	-webkit-transform: translateX(6px);
	font-size: 14px;
	color: #5f5f5f;
	line-height: 20px;
	box-sizing: border-box;
	border-top: 2px solid #d0cece;
}
.card-up .pic,.card-up p,.card-up .buy{
	text-align: center; 
	color:#484848;
}
.card-up .pic img{
	margin-top: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.card-up .name{
	font-size:14px;
	line-height:20px;
}
.card-up .money{
	font-size: 22px;
	font-weight: bold;
	line-height: 40px;
}
.card-up .info{
	line-height: 30px;
}
.card-up .buy{
	margin: 10px auto 0;
	display: block;
	color: #fff;
	background-color: #c91622;
	width: 200px;
	line-height: 36px;
	border-radius:8px;
}
.card-down .date,.card-down .time,.card-down .des{
	margin:10px;
}
.card-down .date{
	margin-top: 20px;
}
.card-down label{
	float: left;
}
.card-down .date p{
	padding-left: 58px;
}
.card-down .time p{
	padding-left: 60px;
}
.card-down .des ol{
	padding-left: 84px;
}
@media screen and (max-width : 320px){
	.card{
		transform: scale(0.9);
	}
	.coupon li{
		transform: scale(0.9);
	}
}